body {
    background-color: #77bc3fd0;
    align-content: space-around;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    border-radius: 15px;
    width: auto;
    height: auto;
    padding: 2%;
    margin: 1%;
    font-size: 2.5vw;
    text-align: center;
    background-color: #77bc3f;
}

.input-container {
    font-size: 5vw;
    margin: 2%;
    width: 50vw;
    text-align: center;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#update-btn{
    width: 40vw;
}

input {
    height: 3vw;
    width: 40vw;
}

.set label{
    font-size: 2.5vw;
}

.item-con {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30vw;
    background-color: #77bc3f;
    border-radius: 25px;
    margin: 2%;
    padding: 1%;
}

#titleee {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30vw;
    background-color: #77bc3f;
    border-radius: 25px;
    margin: 2%;
    padding: 1%;  
}

.input-container label {
    margin: 5%;
}

#logo {
    width: 20vw;
    border-radius: 120px;
}

#button {
    display: flex;
    flex-direction: row;
    height: 10vh;
}

#button .button{
    margin: 0 5%;
    padding: 3%;
    text-align: center;
    display: flex;
    align-items: center;
}

.div1 {
    display: flex;
}

#button .bbutton{
    margin: 0 5%;
    padding: 3%;
    text-align: center;
}