body {
    background-color: #77bc3fd0;
    align-content: space-around;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    border-radius: 15px;
    width: auto;
    height: auto;
    padding: 2%;
    margin: 1%;
    font-size: 2.5vw;
    text-align: center;
    background-color: #77bc3f;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Mainly User page */

.button-con .UserButton{
    margin: 0 5%;
    padding: 3%;
    text-align: center;
}

#logo {
    width: 27vw;
    border-radius: 120px;
}

.button-con {
    display: flex;
    flex-direction: row;
    /* height: 10vh; */
}

.button-con .button{
    margin: 0 5%;
    padding: 3%;
    text-align: center;
    display: flex;
    align-items: center;
}

/* #page-btn {
    display: none;
} */

/* Mainly Input page */

.input-container {
    font-size: 5vw;
    margin: 2%;
    width: 50vw;
    text-align: center;
}

.input-container input {
    height: 3vw;
    width: 40vw;
    font-size: 3vw;
}

.input-container label {
    margin: 5%;
}

.set label{
    font-size: 2.5vw;
}

.div1 {
    display: flex;
}

/* Mainly Output page */

#Info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30vw;
    background-color: #77bc3f;
    border-radius: 25px;
    margin: 2%;
    padding: 1%;  
}

.item-con {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30vw;
    background-color: #77bc3f;
    border-radius: 25px;
    margin: 2%;
    padding: 1%;
}
