body {
    background-color: #58d481;
    align-content: space-around;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    border-radius: 10px;
    width: auto;
    padding: 2%;
    height: auto;
    font-size: 2.5vw;
    margin: 1%;
}

.input-container {
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 2%;
    width: 99%;
}

#set {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#update-btn{
    width: 40vw;
}

input {
    height: 3vw;
    width: 45vw;
}

#set label{
    font-size: 2.5vw;
}

.item-con {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
}

.input-container label {
    margin: 5%;
}

#logo {
    width: 20vw;
    border-radius: 120px;
}

#button {
    display: flex;
    flex-direction: row;
    height: 10vh;
}

#button button{
    margin: 0 5%;
    padding: 3%;
}
